<header>
    <div class="header-left-section">
        <a href="index.html">
            <img class="header-logo" src="assets/images/logo_c.svg" alt="Artifacts Recordings Logo">
        </a>
    </div>

    <nav class="header-right-section">
        <p><a href="index.html">Home</a></p>
        <p><a href="services.html">Services</a></p>
        <p><a href="discography.html">Discography</a></p>
        <p><a href="faq.html">Faq</a></p>
        <p><a href="contact.html">Contact</a></p>
        <!-- 
        <p>
            <a href="https://dariomenik.com" class="external-link" target="_blank" rel="noopener noreferrer"
                title="sound design portfolio">
                Sound Design
                <span class="external-symbol">
                    <img src="assets/icons/colored/other/external_link.svg" alt="external link">
                </span>
            </a>
        </p>
        -->
    </nav>

    <input type="checkbox" id="menu-toggle" hidden>

    <label for="menu-toggle" class="open-header-button">
        <img src="assets/icons/colored/other/menu.svg" alt="Open menu">
    </label>

    <nav class="header-mobile">
        <label for="menu-toggle" class="close-header-button">
            <img src="assets/icons/colored/other/close.svg" alt="Close menu">
        </label>
        <p><a href="index.html">Home</a></p>
        <p><a href="services.html">Services</a></p>
        <p><a href="discography.html">Discography</a></p>
        <p><a href="faq.html">Faq</a></p>
        <p><a href="contact.html">Contact</a></p>
        <p>
            <a href="https://dariomenik.com" class="external-link" target="_blank" rel="noopener noreferrer">
                Sound Design
                <span class="external-symbol">
                    <img src="assets/icons/colored/other/external_link.svg" alt="">
                </span>
            </a>
        </p>
    </nav>
</header>