<div class="socials-float" id="socials-float" aria-label="Social links">
    <div class="socials-float-links" id="socials-float-links">
        <a href="{{ site.socials.linktree }}" target="_blank" rel="noopener" aria-label="See my Linktree">
            <img class="socials-icon" src="assets/icons/colored/socials/linktree.svg" alt="">
        </a>
        <a href="{{ site.socials.instagram }}" target="_blank" rel="noopener" aria-label="Follow me on Instagram">
            <img class="socials-icon" src="assets/icons/colored/socials/instagram.svg" alt="">
        </a>
        <a href="{{ site.socials.facebook }}" target="_blank" rel="noopener" aria-label="Follow me on Facebook">
            <img class="socials-icon" src="assets/icons/colored/socials/facebook.svg" alt="">
        </a>
        <a href="{{ site.socials.linkedin }}" target="_blank" rel="noopener" aria-label="Follow me on LinkedIn">
            <img class="socials-icon" src="assets/icons/colored/socials/linkedin.svg" alt="">
        </a>
    </div>
    <button class="socials-float-btn" id="socials-float-btn" aria-label="Toggle social links"
        aria-expanded="false"></button>
</div>