.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 30px;

  width: 100%;
  max-width: var(--max-width-md);
  margin: 0 auto var(--space-md);
}

.faq-question {
  margin-bottom: 0.5em;
  text-decoration: underline rgba(255, 250, 234, 0);
  text-underline-offset: 0.2em;
  transition: text-decoration 0.15s;
}

.faq-item:hover .faq-question {
  text-decoration: underline rgba(255, 250, 234, 0.8);
}

.faq-answer {
  color: var(--txt-color-2);
}

.highlighted-download {
  text-transform: uppercase;
  font-weight: 700;

  text-decoration: underline;
  text-underline-offset: 0.2em;
}

@media (max-width: 320px) {
  .faq-container {
    gap: 9.38vw;
  }
}
