.faq-title {
  margin-top: 6rem;
  margin-bottom: 5rem;
}

.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  gap: 2rem;

  width: 100%;
  max-width: 55rem;
  margin: 0 auto;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

.faq-question {
  margin-bottom: 0.5rem;
}

.highlighted-download {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .faq-title {
    margin-top: 3rem;
  }
}
