.faq-container {
  display: flex;
  flex-direction: column;
  justify-content: baseline;
  align-items: start;
  gap: 30px;

  width: 100%;
  max-width: 800px;
  margin: 0 auto 80px auto;
  padding: 0 20px;
}

.faq-question {
  margin-bottom: 0.5rem;
}

.highlighted-download {
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: underline;
  text-underline-offset: 0.2em;
}

@media (max-width: 768px) {
}

@media (max-width: 320px) {
  .faq-container {
    gap: 9.5vw;
    margin: 0 auto 25vw auto;
    padding: 0 6vw;
  }
}
