html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
  transition: color 0.1s;
}

h1 {
  font-family: "Viaoda Libre", serif;
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto Serif", serif;
  font-size: 1.3rem;
  letter-spacing: 0.2rem;
  font-weight: 500;
  text-transform: uppercase;
}

body {
  background-color: rgb(10, 10, 10);

  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  color: rgb(255, 250, 234);
  text-transform: lowercase;

  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url("../assets/images/background2.webp");
  background-size: cover;
  background-position: center;
  opacity: 1;
  z-index: -1;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  padding: 0 8rem;

  .header-left-section,
  .header-right-section {
    display: flex;
    align-items: center;
  }

  .header-left-section {
    height: 4.5rem;

    .header-logo {
      height: 100%;
    }
  }

  .header-right-section {
    gap: 30px;
  }

  .header-right-section a {
    letter-spacing: 0.1rem;
    transition: opacity 0.15s;
  }

  .header-right-section a:hover {
    opacity: 0.3;
    /*color: gray;*/
  }

  .external-symbol img {
    position: absolute;
    margin-left: 0.3rem;
    width: 0.8rem;

    opacity: 0;
    transition: opacity 0.15s;
  }

  .external-link {
    position: relative;
  }

  .external-link:hover .external-symbol img {
    opacity: 1;
  }
}

main {
  flex-grow: 1;
  background-color: transparent;
}

footer {
  height: 9rem;

  display: flex;
  justify-content: center;
  align-items: center;

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;

    font-size: 0.9rem;
  }

  .footer-mail {
    font-weight: 500;
    letter-spacing: 0.1em;
  }

  .footer-copyright {
    letter-spacing: 0.05em;
  }
}

.divider {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  margin-top: 5rem;
  margin-bottom: 5rem;
}
