@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 200;
  src: url("../assets/fonts/roboto-serif-v17-latin_latin-ext-200.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 300;
  src: url("../assets/fonts/roboto-serif-v17-latin_latin-ext-300.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/roboto-serif-v17-latin_latin-ext-regular.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 500;
  src: url("../assets/fonts/roboto-serif-v17-latin_latin-ext-500.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Roboto Serif";
  font-style: normal;
  font-weight: 700;
  src: url("../assets/fonts/roboto-serif-v17-latin_latin-ext-700.woff2")
    format("woff2");
}

@font-face {
  font-display: swap;
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 400;
  src: url("../assets/fonts/viaoda-libre-v20-latin_latin-ext-regular.woff2")
    format("woff2");
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 3rem;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  font-family: inherit;
  color: inherit;
  text-decoration: inherit;
  transition: color 0.1s;
}

h1 {
  font-family: "Viaoda Libre", serif;
  font-size: 2.5rem;
  font-weight: regular;
  letter-spacing: 0.2em;
  text-align: center;
  text-transform: uppercase;
}

h2 {
  font-family: "Roboto Serif", serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-family: "Roboto Serif", serif;
  font-size: 1.3rem;
  letter-spacing: 0.1em;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

body {
  background-color: rgb(10, 10, 10);

  font-family: "Roboto Serif", serif;
  font-size: 1rem;
  font-weight: 300;
  letter-spacing: 0.05em;
  line-height: normal;
  color: rgb(255, 250, 234);
  text-transform: lowercase;

  display: flex;
  flex-direction: column;
  position: relative;

  min-height: 100vh;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background-image: url("../assets/images/background.webp");
  background-size: cover;
  background-position: center;

  opacity: 1;
  z-index: -1;
  pointer-events: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 110px;
  padding: 0 110px;
  z-index: 9999;
}

.header-left-section,
.header-right-section {
  display: flex;
  align-items: center;
}

.header-left-section {
  height: 70px;
}

.header-logo {
  height: 100%;
}

.header-right-section {
  gap: 30px;
}

.header-right-section a {
  letter-spacing: 0.1rem;
  transition: opacity 0.15s;
}

.header-right-section a:hover {
  opacity: 0.3;
}

.external-symbol img {
  position: absolute;
  margin-left: 0.3rem;
  width: 0.8rem;

  opacity: 0;
  transition: opacity 0.15s;
}

.external-link {
  position: relative;
}

.external-link:hover .external-symbol img {
  opacity: 1;
}

#menu-toggle {
  display: none;
}

.header-mobile,
.open-header-button {
  display: none;
}

.close-header-button {
  display: inline-block;
  cursor: pointer;
  position: fixed;

  top: 24px;
  right: 24px;
  width: 32px;
}

main {
  flex-grow: 1;
  background-color: transparent;
}

footer {
  height: 140px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 13px;

  font-size: 0.9rem;
}

.footer-mail {
  font-weight: 500;
  letter-spacing: 0.1em;
}

.footer-copyright {
  letter-spacing: 0.05em;
}

.page-title {
  margin-top: 190px;
  margin-bottom: 90px;
}

@media (max-width: 1000px) {
  header {
    padding: 0;
    justify-content: center;
  }

  .header-right-section {
    display: none;
  }

  .open-header-button {
    display: inline-block;
    cursor: pointer;
    position: fixed;

    top: 1.5rem;
    right: 1.5rem;
    width: 2rem;
  }

  .open-header-button a {
    letter-spacing: 0.1rem;
    transition: opacity 0.15s;

    z-index: 9999;
  }

  .open-header-button a:hover {
    opacity: 0.3;
  }

  #menu-toggle:checked ~ .header-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(10, 10, 10, 0.97);
    z-index: 9999;
  }

  #menu-toggle:checked ~ .open-header-button {
    display: none;
  }

  .external-symbol img {
    opacity: 1;
  }

  footer p {
    font-size: 0.9rem;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
    margin: 0 2rem;
  }

  h3 {
    font-size: 1.1rem;
  }

  .page-title {
    margin-top: 150px;
    margin-bottom: 90px;
  }

  .divider {
    gap: 1.5rem;

    margin-top: 2rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 10vw;
    margin: 0 10vw;
  }

  h3 {
    font-size: 5.5vw;
  }

  body {
    font-size: 5vw;
  }

  header {
    height: 34.38vw;
  }

  .header-left-section {
    height: 21.88vw;
  }

  .open-header-button,
  .close-header-button {
    top: 7.5vw;
    right: 7.5vw;
    width: 10vw;
  }

  #menu-toggle:checked ~ .header-mobile {
    gap: 10vw;
  }

  .external-symbol img {
    margin-left: 1.5vw;
    width: 4vw;
  }

  footer {
    height: 43.75vw;
  }

  .footer-container {
    gap: 4.06vw;
  }

  footer p {
    font-size: 4.5vw;
  }

  .page-title {
    margin-top: 46.88vw;
    margin-bottom: 28.13vw;
  }

  .divider {
    gap: 7.5vw;
    margin-top: 10vw;
    margin-bottom: 15vw;
  }
}
