/* #region: HERO */

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;

  position: relative;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
  max-width: 750px;
  padding: 50px;
}

.logo {
  width: 100%;
}

.logo-subtitle {
  cursor: default;

  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.26em;
  text-transform: lowercase;
  text-align: center;

  margin: 20px 0;
}

.buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 25px;

  margin-top: 40px;
}

.buttons-container a {
  cursor: pointer;
  padding: 10px 15px;

  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  text-align: center;
  color: inherit;

  background-color: rgba(197, 197, 197, 0);
  border: 1px solid rgba(255, 250, 234, 0.5);
  border-radius: 6px;

  transition: background-color 0.15s;
}

.buttons-container a:hover {
  background-color: rgba(255, 250, 234, 0.1);
}

.arrow-icon {
  position: absolute;
  bottom: 30px;
  width: 60px;
  cursor: pointer;
}

/* #endregion */

.about-section {
  margin-top: 2rem;
  margin-bottom: 150rem;
}

.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  width: fit-content;
  margin: 0 auto;
}

.about-left-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 20rem;
}

.about-left-section img {
  width: 100%;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.about-right-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;

  width: 100%;
  max-width: 60ch;
}

.about-right-section h2 {
  margin-bottom: 0.5rem;
}

.about-right-section p {
  line-height: 1.5;
}

@media (max-width: 768px) {
  .hero-container {
    padding: 6.51vw;
  }

  .logo-subtitle {
    font-size: 3.13vw;
    margin: 2.6vw 0;
  }
}

@media (max-width: 500px) {
  .hero {
    height: 95vh;
  }

  .buttons-container {
    flex-direction: column;
    gap: 15px;

    margin-top: 40px;
  }

  .buttons-container a {
    padding: 10px;
    font-size: 0.9rem;
    border-radius: 4px;
  }

  .arrow-icon {
    bottom: 30px;
    width: 40px;
  }
}

@media (max-width: 320px) {
  .buttons-container {
    gap: 4.69vw;
    margin-top: 12.5vw;
  }

  .buttons-container a {
    padding: 3.13vw;
    font-size: 4.5vw;
    border-radius: 1.25vw;
  }

  .arrow-icon {
    bottom: 9.38vw;
    width: 12.5vw;
  }
}
