body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.modal:open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.close-modal {
  font-size: 30px;
  color: rgba(255, 250, 234, 1);
  border: none;
  background-color: transparent;

  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
  width: 100%;
  max-width: 1200px;
  margin: 0 20px;
}

.modal-left-section {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-left-section img {
  width: 100%;
}

.modal-left-text {
  font-size: var(--fs-xl);
  color: var(--txt-color-1);
  font-weight: regular;
  letter-spacing: 0.15em;
  line-height: 1.6;
  text-align: center;
  text-transform: none;
}

.modal-right-section {
  flex: 1.6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-right-text {
  font-size: var(--fs-lg);
  color: var(--txt-color-2);
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.6;
  text-align: center;
  text-transform: none;
}

.modal-video {
  width: 100%;
}

.modal-video iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

@media (max-width: 1350px) {
  .modal-container {
    gap: clamp(10px, calc(-55.979px + 8.591vw), 60px);
    margin: 0 clamp(10px, calc(-3.196px + 1.718vw), 20px);
  }

  .modal-left-text {
    font-size: clamp(var(--fs-lg), 0.883rem + 0.66vw, var(--fs-xl));
  }

  .modal-right-text {
    font-size: clamp(var(--fs-base), 0.736rem + 0.55vw, var(--fs-lg));
  }
}

@media (max-width: 768px) {
  .close-modal {
    top: 0;
    right: 0;
  }

  .modal-container {
    flex-direction: column;
    gap: 20px;
    margin: 0 10px;
    max-width: 500px;
  }

  .modal-left-text {
    font-size: var(--fs-base);
  }

  .modal-right-text {
    font-size: var(--fs-sm);
  }

  .modal-left-section,
  .modal-right-section {
    flex: none;
    gap: 15px;
    width: 100%;
  }

  .modal-left-section img {
    width: 80%;
  }

  .modal-links {
    gap: 20px;
  }
}

@media (max-width: 320px) {
  .close-modal {
    font-size: 9.38vw;
  }

  .modal-container {
    gap: 6.25vw;
    margin: 0 3.13vw;
  }

  .modal-left-section,
  .modal-right-section {
    gap: 4.69vw;
  }

  .modal-links {
    gap: 6.25vw;
  }
}
