body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: transparent;
  border: none;
}

.modal:open {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(5px);
}

.close-modal {
  font-size: 30px;
  color: rgba(255, 250, 234, 1);
  border: none;
  background-color: transparent;

  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

  width: 100%;
  max-width: 1300px;
  padding: 0 50px;
}

.modal-left-section {
  flex: 1;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-left-section img {
  width: 100%;
}

.modal-left-text {
  font-size: 1.6rem;
  font-weight: 400;
  letter-spacing: 0.25em;
  line-height: 2rem;

  color: rgb(255, 250, 234);
  text-align: center;
  text-transform: none;
}

.modal-right-section {
  flex: 1.6;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.modal-right-text {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.18em;
  line-height: 2rem;

  color: rgb(255, 250, 234);
  text-align: center;
  text-transform: none;
}

.modal-video {
  width: 100%;
}

.modal-video iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
}

.socials-icon {
  height: 22px;

  transition: opacity 0.15s;
}

.socials-icon:hover {
  opacity: 0.3;
}

@media (max-width: 1350px) {
  .modal-container {
    gap: 7%;
    padding: 0 4%;
  }
}

@media (max-width: 768px) {
  .close-modal {
    top: 0;
    right: 0;
  }

  .modal-container {
    flex-direction: column;
    gap: 15px;
    padding: 0 10px;
    max-width: 500px;
  }

  .modal-left-section,
  .modal-right-section {
    flex: none;
    gap: 15px;
    width: 100%;
  }

  .modal-left-text {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }

  .modal-right-text {
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  .modal-left-section img {
    width: 80%;
  }

  .modal-links {
    gap: 20px;
  }

  .socials-icon {
    height: 20px;
  }
}

@media (max-width: 320px) {
  .close-modal {
    font-size: 9.38vw;
  }

  .modal-container {
    gap: 4.69vw;
    padding: 0 3.13vw;
  }

  .modal-left-section,
  .modal-right-section {
    gap: 4.69vw;
  }

  .modal-left-text {
    font-size: 5.5vw;
    line-height: 8vw;
  }

  .modal-right-text {
    font-size: 4.5vw;
    line-height: 7vw;
  }

  .modal-links {
    gap: 6.25vw;
  }

  .socials-icon {
    height: 6.25vw;
  }
}
