body.modal-open {
  overflow: hidden;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 100%;
  max-width: 80rem;
  height: 34rem;
  background-color: transparent;
  border: none;
}

/* Stile di base per il modal */
/*
.modal {
  position: relative;
  width: 100%;
  max-width: 80rem;

  background-color: transparent;
  border: none;
  display: none;
}

.modal[open] {
  display: flex;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-color: rgb(58, 18, 18);
}
*/
.modal::backdrop {
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100%;
}

.close-modal {
  font-size: 2rem;
  color: rgba(255, 255, 255, 0.5);
  border: none;
  background-color: transparent;

  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

/* Sezioni del modal */
.modal-left-section {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  img {
    width: 100%;
    /*max-width: 20rem;*/
    margin-bottom: 2rem;
  }

  .modal-left-text {
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: 0.3rem;
    line-height: 2rem;

    color: rgb(255, 250, 234);
    text-align: center;
    text-transform: none;

    .modal-artist {
    }
    .modal-title {
    }
  }
}

.modal-right-section {
  flex: 2;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.modal-right-text {
  font-size: 1.2rem;
  font-weight: 200;
  letter-spacing: 0.2rem;
  line-height: 2rem;

  color: rgb(255, 250, 234);
  text-align: center;
  text-transform: none;
}

.modal-video {
  width: 80%;
}

.modal-video iframe {
  aspect-ratio: 16 / 9;
  width: 100%;
}

.modal-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
}

.socials-icon {
  height: 22px;

  transition: opacity 0.15s;
}

.socials-icon:hover {
  opacity: 0.3;
}
