main {
  flex-grow: 1;
  margin: 110px 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.thanks-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;

  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;

  text-align: center;
}

.thanks-container p {
  line-height: 1.6;
}

.back-button {
  padding: 10px 15px;

  background-color: rgba(197, 197, 197, 0);
  border: 1px solid rgba(255, 250, 234, 0.5);
  border-radius: 6px;

  font-family: inherit;
  font-weight: 400;
  font-size: 1rem;
  letter-spacing: 0.1em;
  color: inherit;
  cursor: pointer;
  text-transform: uppercase;
  transition: background-color 0.15s;
}

.back-button:hover {
  background-color: rgba(197, 197, 197, 0.1);
}

@media (max-width: 320px) {
  main {
    margin: 34.38vw 0 0 0;
  }

  .thanks-container {
    gap: 9.38vw;
    padding: 0 6.25vw;
  }

  .back-button {
    padding: 3.13vw 4.69vw;
    border-radius: 1.88vw;
    font-size: 5vw;
  }
}
